.homewrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}// Specific CSS for your home-page

.homewrapper-by-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}// Specific CSS for your home-page

.searchbar-home {
  position: relative;
  top: -50px;
}
.form-home {
  height: 50px;
  width: 350px;
}

