.content {
  width: 700px;
  margin: 0 auto;
  min-height: 100vh;
}

.pet-show-background {
  //background-image: linear-gradient(to top, $redpet 20%, $pinkpet 20%);
  // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: linear-gradient(to top, #f80759 0%, #bc4E9c 80%);
  padding: 40px 40px;
  margin: 0;
}

.pet-show {
  h2 {
    color: $petpink;
    font-weight: bold;
  }
  dl {
    font-size: 16px;
    dt {
      margin-bottom: 1em;
    }
    dd {
      margin-bottom: 0;
    }
  }
  a {
    color: $petpink;
    font-weight: bold;
    &:hover {
      color: $petred;
      font-weight: bold;
      text-decoration: none;
    }
  }
  background-color: white;
  border-radius: 20px;
  padding: 20px;

}

.pet-description {

}
#carouselExampleControls {
  margin: 30px 0;
  img {
    border-radius: 20px;
    margin-left: 40px;
  }
}
.pet-show-booking {

 }
