

<div class="form-container">
  <h1>Booking</h1>
  <%= simple_form_for [ @pet, @booking ] do |f| %>
    Start date
    <%= f.input_field :start_date, as: :string, class: 'form-control datepicker' %>
    End date
    <%= f.input_field :end_date, as: :string, class: 'form-control datepicker' %>


    <%= f.submit "Submit review", class: "btn btn-primary", pet_bookings_path %>
  <% end %>

</div>

