

<div class="form-container">
  <h1>Booking</h1>
  <%= simple_form_for [ @pet, @booking ] do |f| %>
    Start date YYYY-MM-DD
    <%= f.input_field :start_date, as: :string, class: 'form-control datepicker' %>
    End date YYYY-MM-DD
    <%= f.input_field :end_date, as: :string, class: 'form-control datepicker' %>
    <%= f.submit "book this pet", class: "btn btn-primary mt-5" %>
  <% end %>

</div>

