<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= User.find(3).first_name %>
<%= cl_image_tag(User.find(8).photo.key,
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
