.nav-item .bubble-notif {
  position: absolute;
  top: 20%;
  right: 12em;
  border-radius: 50%;
  width: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 0.65em;
  box-shadow: 1px 1px 1px gray;
  background: linear-gradient(to right, #F80759, #BC4E9C);
}
