.btn-flat {
  color: white;
  background: linear-gradient(to right, #F80759, #BC4E9C);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border: 1px solid white;

  &:hover {
    opacity: 1;
    background-position: right center;
    color: white;
  }
}

.apink {
  color: $pink;
}

.alink {
  color: linear-gradient(to right, #F80759, #BC4E9C);
  border: 0.5px solid $pink;
  opacity: 0.8;

   &:hover {
    opacity: 1;
    color: $pink;
  }
}

.card {
  color: white !important;
  width: 50%;
  left: 50%;
  margin-top: 10px;
  background: linear-gradient(to right, #F80759, #BC4E9C);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border: 1px solid white;

  &:hover {
    opacity: 1;
    background-position: right center;
    color: white;
  }
}
