img {
  opacity: 0.8;
  background: linear-gradient(to right, #F80759, #BC4E9C);
}

.card-trip {
  overflow: hidden;
  background: white;
  width: 25em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px !important;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  a {
    color: grey;
    text-decoration: none;
  }
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    .card-trip-user {
      position: absolute;
      right: 16px;
      top: -20px;
      width: 40px;
    }
  }
}
.card-trip-review {
  a {
    color: grey;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 300px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product a {
  color: #BC4E9C;
}

.card-product .card-product-infos {
  padding: 16px;
}



.card-rented {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 800px;
  padding: 30px;
}

.card-bookings {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 800px;
  padding: 30px;
}


body {

  .card-pet {

    width: 650px;
    // height: 375px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

    &:hover {

      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    }

    nav {

      width: 100%;
      color: #727272;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 2px solid #efefef;
      font-size: 12px;

      svg.heart {

        height: 24px;
        width: 24px;
        float: right;
        margin-top: -3px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {

          fill: red;

        }

      }
      svg.arrow {

        float: left;
        height: 15px;
        width: 15px;
        margin-right: 10px;

      }

      a {
        text-decoration: none;
        color: #BC4E9C;
      }
    }

    .photo {

      padding: 30px;
      width: 50%;
      text-align: center;
      float: left;

      img {
        max-height: 240px;
      }

    }

    .description {

       padding: 30px;
       float: left;
       width: 50%;
       border-left: 2px solid #efefef;

       h1 {
         color: #515151;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }

       h2 {
        color: #515151;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }

       h4 {
         margin: 0;
         color: #727272;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
       }

       p {
         font-size: 12px;
         line-height: 20px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }

       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #d9d9d9;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #515151;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;

         &:hover {

           // background: darken(white, 2%);
           border: 1px solid #aedaa6;
           color: #aedaa6;
           cursor: pointer;

         }

       }

        .bookings a {
          text-decoration: none;
          color: #BC4E9C;
        }

        .bookings {
          border-top: 1px solid #efefef;
        }

    }

  }

}








// --------------------------------------------  effacer ci-dessous ::
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
