.pet-show-background {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  // background-image: linear-gradient(to top, #f80759 20%, #bc4E9c 20%);
  padding: 40px;
}

.pet-show {
  h2 {
    color: $petpink;
  }
  background-color: white;
  border-radius: 20px;
  padding: 20px;

}

.pet-description {

}

.pet-show-booking {

 }
