
.profilecolor {
  height: 180px;
  background-color: #BC4E9C;
}

.profilecontainer {
  width: 500px;
  margin: 40px auto;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profilephoto {
  text-align: center;
  position: relative;
  top: 120px;
}

.userinfo {
  text-align: center;
  margin-top: 80px;
  padding: 10px;
}

.userpetslist {
list-style:none;
padding-left: 0px;

}
.userpetslist a {
text-decoration: none;
color: $pink;
}

.userinfo i {
color: $pink;
font-size: 20px;
margin: 5px;
}

.userinfo  p {
margin-bottom: 1px;
}

.usernotes {
  padding: 16px;
}
